.container{
  width: 95%;
  margin: 2rem auto;
  text-align: center;
}

.topRow{
  display: flex;
  flex-direction: column-reverse;
}

.home{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.away{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.bottom-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
}

.buttons{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem auto;
}

.score-buttons{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 2rem auto;
}

.other-buttons{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 2rem auto;
}